USERMAP_UID=1000
USERMAP_GID=1000

# Database password — must match PAPERLESS_DBPASS in compose file
PAPERLESS_DBPASS=your_strong_password_here

# Generate with: openssl rand -hex 32
PAPERLESS_SECRET_KEY=your_secret_key_here

PAPERLESS_URL=https://paperless.bhavibhavan.duckdns.org
PAPERLESS_TIME_ZONE=Europe/Berlin

# OCR languages
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_OCR_LANGUAGES=deu

# App settings
PAPERLESS_APP_TITLE=<The title you want on the home page of paperless>
PAPERLESS_FILENAME_FORMAT={correspondent}/{created_year}/{title}
PAPERLESS_OCR_MODE=redo
PAPERLESS_OCR_CLEAN=clean
