services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    ports:
      - "8080:8080"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/sabnzbd:/config
      - /home/satty008/repos/storage/arr-stack/downloads:/downloads
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sabnzbd.entrypoints=http"
      - "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.commitandpray.duckdns.org`)"
      - "traefik.http.routers.sabnzbd.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.sabnzbd-secure.entrypoints=https"
      - "traefik.http.routers.sabnzbd-secure.rule=Host(`sabnzbd.commitandpray.duckdns.org`)"
      - "traefik.http.routers.sabnzbd-secure.tls=true"
      - "traefik.http.routers.sabnzbd-secure.service=sabnzbd"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    ports:
      - "9117:9117"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      AUTO_UPDATE: "true"
    volumes:
      - /home/satty008/repos/storage/arr-stack/jackett/data:/config
      - /home/satty008/repos/storage/arr-stack/jackett/blackhole:/downloads
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jackett.entrypoints=http"
      - "traefik.http.routers.jackett.rule=Host(`jackett.commitandpray.duckdns.org`)"
      - "traefik.http.routers.jackett.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.jackett-secure.entrypoints=https"
      - "traefik.http.routers.jackett-secure.rule=Host(`jackett.commitandpray.duckdns.org`)"
      - "traefik.http.routers.jackett-secure.tls=true"
      - "traefik.http.routers.jackett-secure.service=jackett"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
      - "traefik.docker.network=proxy"

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - "8989:8989"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/sonarr/data:/config
      - /home/satty008/repos/storage/arr-stack/sonarr/tvseries:/tv
      - /home/satty008/repos/storage/arr-stack/sonarr/downloadclient-downloads:/downloads
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.entrypoints=http"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.sonarr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.sonarr-secure.entrypoints=https"
      - "traefik.http.routers.sonarr-secure.rule=Host(`sonarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.sonarr-secure.tls=true"
      - "traefik.http.routers.sonarr-secure.service=sonarr"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.docker.network=proxy"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    ports:
      - "7878:7878"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/radarr/data:/config
      - /home/satty008/repos/storage/arr-stack/qbittorrent/downloads:/downloads
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entrypoints=http"
      - "traefik.http.routers.radarr.rule=Host(`radarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.radarr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.radarr-secure.entrypoints=https"
      - "traefik.http.routers.radarr-secure.rule=Host(`radarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.radarr-secure.tls=true"
      - "traefik.http.routers.radarr-secure.service=radarr"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.docker.network=proxy"

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    ports:
      - "6767:6767"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/bazarr/data:/config
      - /home/satty008/repos/storage/arr-stack/sonarr/tvseries:/tv
      - /home/satty008/repos/storage/arr-stack/radarr/movies:/movies
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.entrypoints=http"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.bazarr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.bazarr-secure.entrypoints=https"
      - "traefik.http.routers.bazarr-secure.rule=Host(`bazarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.bazarr-secure.tls=true"
      - "traefik.http.routers.bazarr-secure.service=bazarr"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.docker.network=proxy"

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    ports:
      - "9696:9696"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/prowlarr/data:/config
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entrypoints=http"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.prowlarr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.prowlarr-secure.entrypoints=https"
      - "traefik.http.routers.prowlarr-secure.rule=Host(`prowlarr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.prowlarr-secure.tls=true"
      - "traefik.http.routers.prowlarr-secure.service=prowlarr"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.docker.network=proxy"

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      PUID: 1000
      PGID: 1000
      HOMEPAGE_ALLOWED_HOSTS: homepage-arr.commitandpray.duckdns.org
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage-arr.entrypoints=http"
      - "traefik.http.routers.homepage-arr.rule=Host(`homepage-arr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.homepage-arr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.homepage-arr-secure.entrypoints=https"
      - "traefik.http.routers.homepage-arr-secure.rule=Host(`homepage-arr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.homepage-arr-secure.tls=true"
      - "traefik.http.routers.homepage-arr-secure.service=homepage-arr"
      - "traefik.http.services.homepage-arr.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    environment:
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/jellyfin/config:/config
      - /home/satty008/repos/storage/arr-stack/jellyfin/cache:/cache
      - /home/ubuntu/media:/media
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin-arr.entrypoints=http"
      - "traefik.http.routers.jellyfin-arr.rule=Host(`jellyfin-arr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.jellyfin-arr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.jellyfin-arr-secure.entrypoints=https"
      - "traefik.http.routers.jellyfin-arr-secure.rule=Host(`jellyfin-arr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.jellyfin-arr-secure.tls=true"
      - "traefik.http.routers.jellyfin-arr-secure.service=jellyfin-arr"
      - "traefik.http.services.jellyfin-arr.loadbalancer.server.port=8096"
      - "traefik.docker.network=proxy"

  jellyseer:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    container_name: jellyseer
    ports:
      - "7070:7070"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      JELLYFIN_URL: http://jellyfin:8096
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyseer.entrypoints=http"
      - "traefik.http.routers.jellyseer.rule=Host(`jellyseer.commitandpray.duckdns.org`)"
      - "traefik.http.routers.jellyseer.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.jellyseer-secure.entrypoints=https"
      - "traefik.http.routers.jellyseer-secure.rule=Host(`jellyseer.commitandpray.duckdns.org`)"
      - "traefik.http.routers.jellyseer-secure.tls=true"
      - "traefik.http.routers.jellyseer-secure.service=jellyseer"
      - "traefik.http.services.jellyseer.loadbalancer.server.port=7070"
      - "traefik.docker.network=proxy"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
  #  ports:
  #    - "6881:6881"
  #    - "6881:6881/udp"
  #    - "8085:8085"
    ports:
      - "49160:6881/tcp"
      - "49160:6881/udp"
      - "8085:8085"

    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      WEBUI_PORT: 8085
    volumes:
      - /home/satty008/repos/storage/arr-stack/qbittorrent:/config
      - /home/satty008/repos/storage/arr-stack/qbittorrent/downloads:/downloads
    restart: always
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.entrypoints=http"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.commitandpray.duckdns.org`)"
      - "traefik.http.routers.qbittorrent.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.qbittorrent-secure.entrypoints=https"
      - "traefik.http.routers.qbittorrent-secure.rule=Host(`qbittorrent.commitandpray.duckdns.org`)"
      - "traefik.http.routers.qbittorrent-secure.tls=true"
      - "traefik.http.routers.qbittorrent-secure.service=qbittorrent"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8085"
      - "traefik.docker.network=proxy"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - TZ=Europe/Berlin
    ports:
      - "8191:8191"
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flaresolverr.entrypoints=http"
      - "traefik.http.routers.flaresolverr.rule=Host(`flaresolverr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.flaresolverr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.flaresolverr-secure.entrypoints=https"
      - "traefik.http.routers.flaresolverr-secure.rule=Host(`flaresolverr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.flaresolverr-secure.tls=true"
      - "traefik.http.routers.flaresolverr-secure.service=flaresolverr"
      - "traefik.http.services.flaresolverr.loadbalancer.server.port=8191"
      - "traefik.docker.network=proxy"

  lazylibrarian:
    image: linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/lazylibrarian/config:/config
      - /home/satty008/repos/storage/arr-stack/lazylibrarian/books:/books
      - /home/satty008/repos/storage/arr-stack/lazylibrarian/downloads:/downloads
    ports:
      - "5299:5299"
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lazylibrarian.entrypoints=http"
      - "traefik.http.routers.lazylibrarian.rule=Host(`lazylibrarian.commitandpray.duckdns.org`)"
      - "traefik.http.routers.lazylibrarian.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.lazylibrarian-secure.entrypoints=https"
      - "traefik.http.routers.lazylibrarian-secure.rule=Host(`lazylibrarian.commitandpray.duckdns.org`)"
      - "traefik.http.routers.lazylibrarian-secure.tls=true"
      - "traefik.http.routers.lazylibrarian-secure.service=lazylibrarian"
      - "traefik.http.services.lazylibrarian.loadbalancer.server.port=5299"
      - "traefik.docker.network=proxy"

  whisparr:
    image: ghcr.io/thespad/whisparr:latest
    container_name: whisparr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/whisparr/config:/config
      - /home/satty008/repos/storage/arr-stack/whisparr/audiobooks:/audiobooks
      - /home/satty008/repos/storage/arr-stack/whisparr/downloads:/downloads
    ports:
      - "6969:6969"
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whisparr.entrypoints=http"
      - "traefik.http.routers.whisparr.rule=Host(`whisparr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.whisparr.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.whisparr-secure.entrypoints=https"
      - "traefik.http.routers.whisparr-secure.rule=Host(`whisparr.commitandpray.duckdns.org`)"
      - "traefik.http.routers.whisparr-secure.tls=true"
      - "traefik.http.routers.whisparr-secure.service=whisparr"
      - "traefik.http.services.whisparr.loadbalancer.server.port=6969"
      - "traefik.docker.network=proxy"

  mylar3:
    image: linuxserver/mylar3:latest
    container_name: mylar3
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
    volumes:
      - /home/satty008/repos/storage/arr-stack/mylar3/config:/config
      - /home/satty008/repos/storage/arr-stack/mylar3/comics:/comics
      - /home/satty008/repos/storage/arr-stack/mylar3/downloads:/downloads
    ports:
      - "8090:8090"
    restart: unless-stopped
    networks:
      - proxy
      - unbound_dns_net
    dns:
      - 172.23.0.7
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mylar3.entrypoints=http"
      - "traefik.http.routers.mylar3.rule=Host(`mylar3.commitandpray.duckdns.org`)"
      - "traefik.http.routers.mylar3.middlewares=default-security-headers@file,https-redirectscheme@file"
      - "traefik.http.routers.mylar3-secure.entrypoints=https"
      - "traefik.http.routers.mylar3-secure.rule=Host(`mylar3.commitandpray.duckdns.org`)"
      - "traefik.http.routers.mylar3-secure.tls=true"
      - "traefik.http.routers.mylar3-secure.service=mylar3"
      - "traefik.http.services.mylar3.loadbalancer.server.port=8090"
      - "traefik.docker.network=proxy"


networks:
  proxy:
    external: true
  unbound_dns_net:
    external: true
